body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0cceb;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: #ecafe2;
  font-family: 'Pacifico', cursive;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.category {
  width: 250px;
  background-color: #efd0fd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f48fb1;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
